@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main-header-font;
  src: url(./fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: small-text-font;
  src: url(./fonts/Manrope/static/Manrope-Regular.ttf);
}

@font-face {
  font-family: sub-header-text-font;
  src: url(./fonts/Manrope/static/Manrope-Medium.ttf);
}

@font-face {
  font-family: button-font;
  src: url(./fonts/Manrope/static/Manrope-Bold.ttf);
}

@layer {
  .ham-menu {
    @apply h-auto w-[28px] relative z-[4] hover:cursor-pointer lg:hidden;
  }
  .ham-menu span {
    @apply h-[1px] w-[100%] dark:bg-dark-theme-textColor-2 bg-light-theme-textColor-2 rounded-3xl absolute top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out;
  }
  .ham-menu span:nth-child(1) {
    @apply top-1/4;
  }
  .ham-menu span:nth-child(3) {
    @apply top-[75%];
  }
  .ham-menu.active span {
    @apply dark:bg-dark-theme-textColor-2 bg-light-theme-textColor-2;
  }
  /* .ham-menu.active span:nth-child(1) {
    @apply top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-45;
  } */
  .ham-menu.active span:nth-child(2) {
    @apply opacity-0;
  }
  /* .ham-menu.active span:nth-child(3) {
    @apply -rotate-45 top-1/2 -translate-x-1/2 -translate-y-1/2;
  } */

  .nav .active {
    @apply translate-x-0;
  }

  body{
    @apply overflow-x-hidden dark:bg-dark-bg bg-Light-bg w-[95%] sm:w-[90] m-auto;
  }
}
body{
  margin: auto;
}
